@import "reset.css";

@font-face {
  font-family: "SUIT-Regular";
  src: url("./fonts/SUIT-Variable.ttf");
}

body {
  font-family: "SUIT-Regular";
}
/* inputBox placeholder 글씨체 변경 */
::placeholder {
  font-family: "SUIT-Regular";
}
